<div>
  <%= for d <- @digits do %>
    <h1 phx-click="a_digit"><%= d %></h1>
  <% end %>
</div>
<h1>|</h1>
<div>
  <input id="code" type="text" name="code" phx-keyup="capture">
  <button id="copy_preview" phx-hook="CopyPreview" type="button">
    Copy
  </button>

</div>
