<tr id={"transaction-#{@transaction.id}"}>
  <td><%= @transaction.type %></td>
  <td><%= @transaction.origin %></td>
  <td><%= @transaction.concept %></td>
  <td><%= number_to_currency(@transaction.amount) %></td>
  <td><%= @transaction.currency %></td>
  <td><%= @transaction.inserted_at %></td>
</tr>
